<html>
<head>
  <title>Yo Near Me</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    html, body {
      background: #9B59B6;
      font-family: 'Montserrat', sans-serif;
    }
    .heavy {
      font-weight: 800;
    }
    .light {
      font-weight: 100;
    }
    .grey {
      color: #A8A8A8;
    }
    .dark-grey {
      color: #282828;
    }
  </style>
</head>
<body>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>