{% extends 'layout.html' %}

{% block content %}
  <style>
    .row {
      background: #1ABC9C;
      padding: 12px;
    }
    .username {
      color: white;
      font-weight: 800;
      font-size: 3em;
      margin: 0 auto;
      text-align: center;
    }
    .username a {
      text-decoration: none;
      color: white;
    }
    .details {
      font-size: 0.8em;
      font-weight: 100;
      color: #E8E8E8;
    }
  </style>
  <div>
    {% for user in users %}
      <div class="row">
        <div class="username">
          <a href="Yo://{{ user.username }}">{{ user.username }}</a>
        </div>
        <div class="details">
          <span class="pull-left">{{ user.distance }} away</span>
          <span class="pull-right">last YO'd {{ user.lastSeenFromNow }}</span>
        </div>
      </div>
    {% endfor %}
  </div>

  <script>
    var colors = ['#1ABC9C','#2ECC71','#3498DB','#34495E','#16A085','#F1C40F','#2980B9','#8E44AD'];
    var rows = document.getElementsByClassName('row');
    for (var i = 0; i < rows.length; i++) {
      rows[i].style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
    }
    var users = document.getElementsByClassName('username');
    for (var i = 0; i < users.length; i++) {
      var user = users[i];
      user.addEventListener('click', function() {
        var user = this.cloneNode(true);
        this.innerHTML = 'SENT @YO!';
        var el = {
          user: user,
          confirmation: this
        };
        setTimeout(function() {
          this.confirmation.innerHTML = this.user.innerHTML;
        }.bind(el), 1500);
      }.bind(user));
    }
  </script>
{% endblock %}